<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="../css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="../css/style.css"> <!-- Resource style -->
	<script src="../js/modernizr.js"></script> <!-- Modernizr -->
  	
	<title>Academic Qualifications</title>
</head>
<body>
	<div class="cd-fold-content single-page">
		<h2>Academic Qualifications</h2>
		<em>"The Measure of intelligence is the ability to change." ― Albert Einstein</em>
		<table>
			<tr>
				<th>Certificate</th>
				<td>B. Eng - Electrical Engineering</td>
			</tr>
			<tr>
				<th>Total Degree</th>
				<td>Very Good</td>
			</tr>
			<tr>
				<th>Graduation Project Degree</th>
				<td>Excellent</td>
			</tr>
			<tr>
				<th>University</th>
				<td>El-Shrouk Academy , 2011-2016</td>
			</tr>
		</table>
	</div>
<script src="../js/jquery-2.1.1.js"></script>
<script src="../js/main.js"></script> <!-- Resource jQuery -->
</body>
</html>