<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="../css/reset.css"> <!-- CSS reset -->
  <link rel="stylesheet" href="../css/style.css"> <!-- Resource style -->
  <script src="../js/modernizr.js"></script> <!-- Modernizr -->

  <title>Graduation Project</title>
</head>
<body>
<div class="cd-fold-content single-page">
  <h2>Graduation Project</h2>
  <em>"The past can hurt. But the way I see it, you can either run from it or learn from it." ― Rafiki</em>
  <p style="text-decoration: underline">
    Smart Electric Vehicle<br>
    (EED 2016 winners 1st place)
  </p>
  <p>
    The Project is that we made an 100% electric car with all smart features exists on 2016 car models, and it's price is very cheaper than similar cars,
    The Car doors can open and close through keypad with password or through mobile application installed on the owner mobile,
    All car controls replaced by built in android device (tablet) you can control and monitor every thing in the car (glass upa/down, lighting, flashers, gps, radio fm, etc.)
    All car meters replaced by smart screen monitoring everything (rpm, km/hr, temperature, etc.), There are mounted two ultra sonic sensors that indicate the distance between the car and others for safety reasons,
    You can connect to the car remotely through the internet and get car location and capture image from the car, You can disconnect the electricity from the car in case of stealing,
    and finally you can park it remotely through your mobile.
  </p>
  <p>
    My part was development of android native application that interact with arduino and raspberry pi controllers through bluetooth and usb serial communication and connected remotely internet connection to another mobile application in user mobile.
  </p>
  <p>
    Also development of raspberry pi python gui application (wxPython) for monitoring sensors data on the raspberry pi screen.
  </p>
  <p>
    I made nodejs socket.io application for real time remotely connections between user mobile and controllers.
  </p>
  <p>
    We won 1st place on Egyptian Engineering Day 2016 for electrical engineering and automatic control category.
  </p>
  <p>
    <img src="https://scontent-mrs1-1.xx.fbcdn.net/v/t1.0-9/14238360_1151493071586594_3846265389758960992_n.jpg?oh=fc4caed2a65308c39e31227a6a9badca&oe=587F657B"
         alt="EED2016">
  </p>
</div>
<script src="../js/jquery-2.1.1.js"></script>
<script src="../js/main.js"></script> <!-- Resource jQuery -->
</body>
</html>