<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="../css/reset.css"> <!-- CSS reset -->
  <link rel="stylesheet" href="../css/style.css"> <!-- Resource style -->
  <script src="../js/modernizr.js"></script> <!-- Modernizr -->

  <title>Personal Skills</title>
</head>
<body>
<div class="cd-fold-content single-page">
  <h2>Personal Skills</h2>
  <em>"Those who cannot change their minds cannot change anything." ― George Bernard Shaw</em>
  <p>
    I gained a lot of personal and communication skills during my career such as (<span class="underline">Time management</span>, <span class="underline">Attention to details</span>, <span class="underline">flexibility</span>, <span class="underline">goal orientation</span>, and what make me different that I am <span class="underline">Fast learner</span>.
  </p>

  <p>
    I'm proud to say that I participated in <span class="underline">NASA Space Apps Competition</span> in Two consecutive years 2015/2016. With my awesome team, We don't won, But we will participate next year and we will win isA.
  </p>

  <p>
    we won in <span class="underline">Egyptian Engineering Day 2016</span> 1st place in electrical engineering and automatic control category by our graduation project (Smart Electric Vehicle).
  </p>

  <p>Languages: Arabic(native), English(fluent), French(basic)</p>
</div>
<script src="../js/jquery-2.1.1.js"></script>
<script src="../js/main.js"></script> <!-- Resource jQuery -->
</body>
</html>