<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="../css/reset.css"> <!-- CSS reset -->
  <link rel="stylesheet" href="../css/style.css"> <!-- Resource style -->
  <script src="../js/modernizr.js"></script> <!-- Modernizr -->

  <title>Projects</title>
</head>
<body>
<div class="cd-fold-content single-page">
  <h2>Projects</h2>
  <em>"Be who you are and say what you feel, because those who mind don't matter, and those who matter don't mind." ― Bernard M. Baruch</em>
  <table>
    <tr>
      <th><a target="_blank" href="https://husaine.herokuapp.com/">Husaine</a></th>
      <td>(cross-platform, mobile app), Meteor (backend), Blaze (frontend).</td>
    </tr>
    <tr>
      <th><a target="_blank" href="https://cyberbullyradar.com/">CyberBullyRadar</a></th>
      <td>PHP symfony2, wordpress, agile.</td>
    </tr>
    <tr>
      <th><a target="_blank" href="http://www.freesialive.com/">Freesialive</a></th>
      <td>PHP OOP from scratch.</td>
    </tr>
    <tr>
      <th><a target="_blank" href="https://quran-ona.appspot.com/">Quranona</a></th>
      <td>javascript, single page application.</td>
    </tr>
  </table>
</div>
<script src="../js/jquery-2.1.1.js"></script>
<script src="../js/main.js"></script> <!-- Resource jQuery -->
</body>
</html>