<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="../css/reset.css"> <!-- CSS reset -->
  <link rel="stylesheet" href="../css/style.css"> <!-- Resource style -->
  <script src="../js/modernizr.js"></script> <!-- Modernizr -->

  <title>Technical Skills</title>
</head>
<body>
<div class="cd-fold-content single-page">
  <h2>Technical Skills</h2>
  <em>"It's kind of fun to do the impossible." ― Walt Disney</em>

  <table>
    <tr>
      <th>Programming Languages</th>
      <td>
        <p>JavaScript, PHP, Java, Python, Ruby, C/C++</p>
        <p>HTML5, CSS3, XML, YAML</p>
        <p>Sass, Less, Stylus</p>
      </td>
    </tr>
    <tr>
      <th>Platforms</th>
      <td>
        <p>MeteorJS, AngularJS, ReactJS, NodeJS, MongoDB, Jquery, Phonegap, Cordova</p>
        <p>Symfony2, Wordpress</p>
        <p>Android</p>
        <p>Ruby on Rails</p>
        <p>wxPython, Django</p>
      </td>
    </tr>
    <tr>
      <th>IDEs and Text Editors</th>
      <td>
        <p>PHPStorm, WebStorm, PyCharm, Android Studio</p>
        <p>Sublime, Atom, Notepad++, vim, nano</p>
      </td>
    </tr>
    <tr>
      <th>Key Skills</th>
      <td>
        <p>OOP, MVC, MySQL, ORM(Doctrine), PHPUnit testing, TDD</p>
        <p>noSQL, MongoDB, Mocha, Chai, JS testing, ES2015</p>
        <p>REST, CRUDs, Agile, JIRA, Github workflow</p>
      </td>
    </tr>
    <tr>
      <th>Operating Systems</th>
      <td>
        <p>Linux (Ubuntu, Mint, OpenSUSE, Fedora, Debian, Kali, puppy linux)</p>
        <p>Mac, Windows</p>
      </td>
    </tr>
  </table>
</div>
<script src="../js/jquery-2.1.1.js"></script>
<script src="../js/main.js"></script> <!-- Resource jQuery -->
</body>
</html>